.header{

  background-image: url(/images/header.jpg); /* Ruta de la imagen */
  background-size: cover; /* Hace que la imagen cubra todo el área del header */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding-bottom: 3rem;

  &__img1{
    padding-top: 4.5rem;  
    padding-left: 2.5rem;       
    position: fixed      ;  
     }


  &__img2{
    padding-top: 3rem; 
    
    display: flex;
    flex-direction: row;
    justify-content: center;

     }


  
  
  
  &__text   {
    display: flex;
    flex-direction: column;
    align-items: center;


    .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    }
 

      }

      .boton{
        all: unset;
        background-color: #0c474b;
        color: white;
        font-weight: 600;
        width: 8rem; 
        height: 5px; 
        padding: 1.5rem; 
        display: flex; 
        flex-direction: row;
        align-items: center;
      
    }

    .boton:hover{
      background-color:#FF007F ;
      color: black;


    }
     

.header__menu{  
        width: 3rem;
        position: relative;

}


.titulo {
  color: #0c474b;

}



@media (min-width:900px){
.header{
  height: 600px;

}

  .header__text{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    text-align: left; 
    padding-left: 5rem; 


    .texto{
      padding-top:8rem;
      padding-bottom:8rem;
      display: flex;
      text-align: left;
      align-items: flex-start;
      
    }
    
   }


}


@media (max-width:1728px){
  .header__nav{

      display: none;
  }
}



@media (min-width:1728px){ 

  .header{
padding-top: 76px;
height: 925px;

  }

  .header__menu{
    display: none;
    
  }

  .lista-menu{  
    display: flex;
    flex-direction: row;
    gap: 3rem;    
    padding-top: 50 px;
    padding-left:280px;
    
    .item{
      color:#0c474b;
      font-size: 1rem;
      font-weight: 400;


    }
     
  }

.header__img2{
 
  

  .header__logo{
    width: 213px;
    position: absolute;
    margin-top: -100px;

  }

}

.header__text{
padding-left:280px;
}

}
 



