/* 
@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';

@use 'layout/footer';
@use 'pages/index';
 */

 @use 'layout/header';
 @use 'layout/footer';


 html{
    font-family: "Poppins", sans-serif;
    background-color: #F0EBE5; 
    font-weight: 100;
    font-style: normal;
   
   

 }

 body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F0EBE5;       
  }

  .main__modulo2{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 3rem;
    margin-right: 3rem;
    place-items: center;
    justify-items: center;
    text-align: center;
    color: #0c474b;
    gap: 2rem;


    .parrafo1, 
   .parrafo2, 
   .parrafo3{
    font-weight: 300;
    
   } 

   .icono{
    padding-top:2rem;
    padding-bottom:1rem;
    width: 6rem;

   }
  
    }

   

   .main__modulo3{
    background-color: #ff975a;
    display: grid;
    grid-template-columns: 1fr;
     place-items: center;
    justify-items: center;
    text-align: center;
    color: #F0EBE5;
    padding-top: 5rem ;
    padding-bottom: 5rem;

    .icono4{
      width: 8rem;
      margin-bottom: 0.5rem;
    }
 

    .titulo2{
      margin: 0;
      font-size: 24px;
      }

    .parrafo4{
      font-weight: 300;
      margin-top: 0.5rem;
      margin-bottom:2rem;
      
    }


    .main__compra1{
      color: #F0EBE5;
      font-weight: 600;
      font-size: 1.2rem;
      text-decoration: underline;

  
      }

         
    }

   
  .main__modulo4{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 3rem;
    margin-right: 3rem;
    place-items: center;
    justify-items: center;
    text-align: center;
    color: #0c474b;
    gap: 2rem;

    }

    .seccion-imagen{
      
  background-image: url(/images/creando-espacios.jpg); /* Ruta de la imagen */
  background-size: cover; /* Hace que la imagen cubra todo el área del header */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding-bottom: 3rem;
  height: 20rem;
    }


    @media (min-width:900px) {
      .main__articulos{
        display: flex;
        flex-direction: row;

      }

      h2{
        font-size:3rem;

      }

      .seccion-imagen{
        height: 500px;

      }



    }

 