/* 
@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';

@use 'layout/footer';
@use 'pages/index';
 */

 @use 'layout/header';


 html{
    font-family: "Poppins", sans-serif;
    background-color: #F0EBE5; 
    font-weight: 100;
    font-style: normal;
   

 }

 body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F0EBE5;       
  }

